# fly.toml app configuration file generated for epstein-xmas on 2025-12-24T21:05:47+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'epstein-xmas'
primary_region = 'arn'

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "3000"
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/"

[mounts]
  source = "gallery_data"
  destination = "/app/gallery"
  initial_size = "3gb"

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
